
body{
	background-image: url("../images/background.jpg");
	background-size: 100%;
  	color: #000;
  	font-family:  'Bahiana', cursive;
  	letter-spacing: 3px;
  	font-size: 18px;
  	line-height: 1px;
  	
}
/*header{
	width: 50px;
	background-image: url("../images/header.jpg");
}*/
h1{
	font-size: 60px;
	font-weight: bolder;
	text-align: right;
	margin-right: 150px;
}
.box{
	height: 130px;
    width: 150px;
    background-color: white;
    color: #000;
    padding: 10px 13px;
    border: 1.5px solid #00ff00;
    text-align: center;
	
}
.boxImage{
	height: 90px;
    width: 120px; 
	
}
div.desc {
    padding: 15px;
    text-align: center;
}