
body{
	background-image: url("../images/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
  	color: #000;
  	font-family:  'Bahiana', cursive;
  	letter-spacing: 3px;
  	font-size: 20px;
  	line-height: 1px;
  	
}

h1{
	font-size: 60px;
	font-weight: bolder;
	text-align: right;
	margin-right: 150px;
}
.box{
	height: 130px;
    width: 150px;
    background-color: white;
    color: #000;
    border: 1.5px solid #00ff00;
    text-align: center;
    margin-bottom: 20px;
}
.boxImage{
	height: 90px;
    width: 120px; 
    /*float: left;*/
    /*position: absolute;*/
	
}
/*div.desc {
    padding: 15px;
    text-align: center;
}*/
#p{
	color: red;
	font-size: 25px;
}
.paragraph{
	font-size: 12px;
	padding-top: 10px;
}
#resetButton{
	font-size: 24px;
	padding-top: 1px;
	padding-bottom: 0px;
	display: none;
}
#attackButton{
	font-size: 24px;
	padding: 1px 16px 0 16px;

}
h2{
	margin-top: -15px;
}
.invisibleBox{
	height: 130px;
    width: 150px;
	background-color: red;
   /* color: #000;*/
   	border: 1.5px solid #000;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#defender{
	margin-right: 0;
}
#defend{
	margin-right: 40px;
}
.defenderBox{
	height: 130px;
    width: 150px;
	background-color: black;
   /* color: #000;*/
   	border: 1.5px solid red;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

#parAttackStyle{
	font-size: 24px;
	font-family: 'arial';
	font-weight: bold;
	line-height: 20px;
	margin: 20px;
	white-space: pre-wrap;
}